@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
	--clr-primary: #d78df0;
	--clr-background: #f6f7f9;
	--clr-black: rgba(5, 5, 10, 0.945);
	--clr-gray: #f0f0f0;
	--clr-error: #f08d95;
	--clr-black-transparent: rgba(0, 0, 0, 0.8);
	--clr-primary-light: #e0b6ee;
	--clr-text-light: #fff;
	--clr-border: #f3f3f3;
	--clr-warning: #f7d1d1;
	--clr-warning-text: #db7b7b;
	--hd-height: 15vh;
	--clr-white: #fff;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--clr-background);
}

a {
	text-decoration: none;
}

header {
	height: var(--hd-height);
	position: absolute;
	top: 0;
	z-index: 99;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--clr-black);
	opacity: 0.94;
}

nav {
	width: 1400px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.logo-container a {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
	height: 100%;
}

.logo {
	width: 65px;
	height: auto;
}

.logo-weru {
	color: var(--clr-white);
	font-weight: 600;
	font-size: 26px;
}

.hero-container {
	position: relative;
	top: var(--hd-height);
	background-color: var(--clr-black);
	height: calc(100vh - var(--hd-height));
}

.action-container {
	display: flex;
	justify-content: center;
}
.action-container button {
	background-color: transparent;
	border: 2px solid var(--clr-primary);
	border-radius: 50px;
	padding: 15px 25px;
	color: var(--clr-white);
	font-size: 15px;
	font-weight: 500;
}

.action-container button:hover {
	transform: scale(1.1);
	font-size: 15.5px;
	transition: all 0.35s ease-in-out;
}

@media (max-width: 480px) {
	nav {
		padding: 0px 10px;
	}

	.action-container button {
		padding: 10px 20px;
	}

	.logo {
		width: 45px;
	}
	.logo-weru {
		font-size: 18px;
	}
}
footer {
	background-color: var(--clr-black);
	/* height: 60vh; */
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	row-gap: 1rem;
}

footer h2 {
	color: var(--clr-text-light);
	font-size: 3.6rem;
	text-align: center;
	line-height: 1.5;
}

.footerHeadingContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 50%; */
	margin-top: 3rem;
}

.footerBtn {
	background-color: var(--clr-background);
	border: none;
	padding: 20px 50px;
	border-radius: 50px;
	font-weight: 600;
	font-size: 18px;
	color: var(--clr-black);
	margin: 2rem 0;
}

.footerBtn:hover {
	background-color: var(--clr-primary);
	border: none;
	transition: all ease 300;
	/* padding: 20px 50px;
	border-radius: 50px;
	font-weight: 600;
	font-size: 18px;
	color: var(--clr-black);
	margin: 2rem 0; */
}

.footerCopyrightContainer p {
	color: var(--clr-gray);
}

.footerCreditsContainer {
	display: flex;
	flex-direction: row;
	column-gap: 3rem;
	margin: 1rem 0;
}

.creditItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 2rem;
	row-gap: 1rem;
}

.creditItem a {
	color: var(--clr-gray);
}

.creditItem h3 {
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	color: var(--clr-gray);
}

.footerCopyrightContainer p {
	font-size: 0.9rem;
	padding: 2rem 0;
}

section {
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	background-color: var(--clr-background);
}

section h2 {
	font-size: 3.2rem;
	color: var(--clr-black);
}

section h3 {
	color: var(--clr-black-transparent);
	font-weight: 500;
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	width: 50%;
}

.featuresContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 800px;
	column-gap: 20px;
	padding: 1rem 0;
}

.keyFeature {
	width: 30%;
	color: var(--clr-black);
	font-size: 1rem;
	font-weight: 400;
	line-height: 2rem;
	text-transform: capitalize;
}

.stackedContainer {
	background-color: var(--clr-gray);
}

.sectionKeywordsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.stackedImage {
	width: 800px;
	object-fit: contain;
}

.docs-header-container {
	background-color: var(--clr-primary-light);
	border-radius: 5px;
	padding: 40px;
	display: flex;
	flex-direction: row;
	column-gap: 30px;
}

.docs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	row-gap: 40px;
}

.docs-image-logo {
	width: 75px;
	height: auto;
	object-fit: contain;
}

.header-label-container h1 {
	color: var(--clr-black);
	font-size: 28px;
	line-height: 40px;
	word-spacing: 2px;
}

.header-label-container p {
	color: var(--clr-black-transparent);
	font-size: 14.5px;
	font-weight: 400;
	line-height: 18px;
}

.main-container {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	column-gap: 30px;
}

.navigation-container {
	width: 25%;
	padding: 30px;
	border-radius: 8px;
	background-color: #fff;
	position: sticky;
	top: 2rem;
	height: fit-content;
}

.navigation-container ul {
	list-style-type: none;
}

.scrollable-container {
	width: 75%;
}

.nav-item-container {
	padding: 0.5rem 0.75rem;
}

.nav-item-container a {
	color: var(--clr-black-transparent);
	font-weight: 400;
	font-size: 15.5px;
}

.nav-item-container a:hover {
	color: var(--clr-primary);
	font-weight: 500;
	transition: all ease 300ms;
}

.section-container {
	background-color: #fff;
	padding: 30px;
	width: 100%;
	border-radius: 8px;
	margin-bottom: 30px;
}

.section-container ul {
	padding: 20px 20px;
	font-size: 14.5px;
	color: var(--clr-black-transparent);
	line-height: 26px;
	margin-left: 40px;
}

.section-container h2 {
	font-size: 22.5px;
	font-weight: 600;
}

.section-container p {
	font-size: 14.5px;
	color: var(--clr-black-transparent);
	line-height: 26px;
	padding: 10px 0;
}

.section-container a {
	color: var(--clr-primary);
	font-weight: 600;
}

.section-table {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 5px;
	border-bottom: 1px solid var(--clr-border);
	justify-content: space-between;
}

.section-container h4 {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3rem;
}

.code-container {
	display: block;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1.42857143rem;
	color: var(--clr-black-transparent);
	word-break: break-all;
	word-wrap: break-word;
	background-color: var(--clr-gray);
	border: 1px solid var(--clr-border);
	border-radius: 5px;
	margin-bottom: 1.2rem;
}

.block-container {
	display: block;
	padding: 10px 20px;
	font-size: 14.5px;
	line-height: 1.42857143rem;
	border-radius: 5px;
	margin: 20px 0px;
}

.warning {
	background-color: var(--clr-warning);
	color: var(--clr-warning-text);
}

.section-container img {
	width: auto;
	height: auto;
	object-fit: contain;
	margin: 20px 0;
}

.section-container .sectionInner {
	margin-bottom: 20px;
}

@media (min-width: 1025px) {
	.docs-header-container,
	.main-container {
		width: 1140px;
	}
}

@media (max-width: 480px) {
	.docs-header-container {
		/* width: 100%; */
	}
	.docs-container {
		padding: 0 20px;
	}
	.main-container {
		flex-direction: column;
	}
	.navigation-container {
		position: static;
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
	.scrollable-container {
		display: block;
		/* width: 100%; */
	}
	.section-container {
	}
}
